@page "/"
@using BlazorBootstrap
@using DAL.DTOs
@using DAL.Models
@using DAL.Services.Interfaces
@using UserHierarchyBlazor.Components.Shared
@inject IUserService userService
@rendermode InteractiveServer

<div class="main-div">
    <h3>User Hierarchy</h3>
    <Modal @ref="modal" Title="Edit User">
        <BodyTemplate>
            <EditForm Model="newUser" OnValidSubmit="SaveUser">
                <DataAnnotationsValidator />
            
                <label>Username:</label>
                <div class="input-validation">
                    <TextInput @bind-Value="newUser.Username" Placeholder="Enter Username" />
                    <ValidationMessage For="@(() => newUser.Username)" />
                </div>
                <label>Full Name:</label>
                <div class="mb-1 input-validation">
                    <TextInput @bind-Value="newUser.FullName" Placeholder="Enter Full Name" />
                    <ValidationMessage For="@(() => newUser.FullName)" />
                </div>
                <label>Email:</label>
                <div class="mb-1 input-validation">
                    <TextInput @bind-Value="newUser.Email" Placeholder="Enter Email" />
                    <ValidationMessage For="@(() => newUser.Email)" />
                </div>

                <div class="mt-4 d-flex justify-content-end border-top pt-3">
                    <Button Color="ButtonColor.Secondary" @onclick="HideAddUserModal" Class="me-2">Cancel</Button>
                    <Button Color="ButtonColor.Primary" Type="ButtonType.Submit">Save</Button>
                </div>
            </EditForm>
        </BodyTemplate>
    </Modal>

    <Button Color="ButtonColor.Primary" @onclick="ShowAddUserModal">Add User</Button>

    @if (rootNode is not null)
    {
        <TreeItem Node="rootNode" OnTreeChanged="RefreshTree" />
    }

    <Toasts class="p-3" Messages="messages" AutoHide="true" Delay="6000" Placement="ToastsPlacement.BottomRight" />
</div>

@code {
    private UserNode? rootNode;

    private Modal modal = default!;

    private User newUser = new User() { Username = string.Empty, FullName = string.Empty, Email = string.Empty };

    private List<ToastMessage> messages = new List<ToastMessage>();

    protected async override Task OnInitializedAsync()
    {
        rootNode = await userService.GetUserNodesAsync();
        rootNode.IsExpanded = true; // Expand root by default
    }

    private async Task RefreshTree()
    {
        rootNode = await userService.GetUserNodesAsync();
        StateHasChanged();
    }


    private async Task ShowAddUserModal()
    {
        await modal.ShowAsync();
    }

    private async Task SaveUser()
    {
        UserHierarchy userHierarchy = new UserHierarchy
        {
            ParentId = null,
            SortOrder = rootNode.Children.Count
        };
        bool success = await userService.InsertUserAsync(newUser,userHierarchy);
        if (success)
        {
            ToastMessage toastMessage = new ToastMessage
            {
                Type = ToastType.Success,
                Title = "Add User",
                HelpText = $"{DateTime.Now}",
                Message = $"User '{newUser.Username}' added successfully! DateTime: {DateTime.Now}",
            };
            messages.Add(toastMessage);
        }
        else
        {
            ToastMessage toastMessage = new ToastMessage
            {
                Type = ToastType.Danger,
                Title = "Add User",
                HelpText = $"{DateTime.Now}",
                Message = $"Failed to add user '{newUser.Username}'. DateTime: {DateTime.Now}",
            };
            messages.Add(toastMessage);
        }
        modal.HideAsync();
        await RefreshTree();
        newUser = new User() { Username = string.Empty, FullName = string.Empty, Email = string.Empty };
    }

    private async Task HideAddUserModal()
    {
        await modal.HideAsync();
        newUser = new User() { Username = string.Empty, FullName = string.Empty, Email = string.Empty };
    }
}